@charset "UTF-8";
* {
  margin: 0
}
header{
	 background-color: #171313;
	 border-radius: 10px;
    padding: 26px;
    width: 95%;
}
footer{
	background-color: #171313;
	 border-radius: 10px;
    padding: 30px;
    margin-top: 120px;
    width: 95%;
}
header a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
li a:hover{
  background: #fff;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color:  #78D6CE;
}

.container h1 {
  color: 0F0F0E;
  font-family: sans-serif;
  margin: 20px;
}

.registartion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  color: #070808;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #C5ECE9;
  padding: 15px;
  border-radius: 10px;
}

.registartion-form input,
.registartion-form select,
.registartion-form textarea {
  border: none;
  padding: 5px;
  margin-top: 10px;
  font-family: sans-serif;
   border-radius: 7px;
}

.registartion-form input:focus,
.registartion-form textarea:focus {
  box-shadow: #EA0012;
}

.registartion-form .submit {
  width: 60%;
  padding: 8px 0;
  margin-left:70px;
  font-size: 20px;
  color: #F4F4F4;
  background-color: #3631CA;
  border-radius: 5px;
}

.registartion-form .submit:hover {
  box-shadow: 3px 3px 6px rgb(255, 214, 176);
}